<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.opentv.ide.sdk.debugger.launch.LocalLaunch">
<intAttribute key="com.opentv.ide.sdk.debugger.core.attach.tcp.debugport" value="1014"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.attach.tcp.hostname" value="localhost"/>
<intAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.bitmode" value="8"/>
<booleanAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.cont" value="true"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.data.trans" value="tu"/>
<booleanAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.datalink.type" value="false"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.decoder" value="dss"/>
<booleanAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.dummyflag" value="true"/>
<intAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.flwrate" value="100000"/>
<booleanAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.flwrate.flag" value="true"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.framerate" value="ntsc"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.hostname" value="localhost"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.lpt" value="lpt1"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.lptmode" value="auto"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.muxfile" value="C:/OpenTV/SDKSuiteC2.2/SDK\si2\otvsi.mux"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.nullpackets" value="0x1"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.pid" value="0x203"/>
<intAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.rate" value="2000000"/>
<booleanAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.rate.flag" value="true"/>
<booleanAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.syn" value="true"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.tableid" value="0x90"/>
<intAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.tcp.dataport" value="1234"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.cfdb.trans" value="mpeg2"/>
<intAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.bit.mode" value="8"/>
<booleanAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.cont_flag" value="true"/>
<booleanAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.datalink_type" value="false"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.decorder" value="dss"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.lpt.mode" value="auto"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.lpt_addr" value="lpt1"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.misc_trans" value="mpeg2"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.msic_fr" value="ntsc"/>
<booleanAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.mux_rate_flag" value="true"/>
<intAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.muxrate" value="5000000"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.tcp.hostname" value="localhost"/>
<intAttribute key="com.opentv.ide.sdk.debugger.core.muxcfdb.tcp_port" value="1234"/>
<booleanAttribute key="com.opentv.ide.sdk.debugger.core.send.flow.flag" value="true"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.coredebug.debugfilter" value="HelloWorld"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.coreextra.odb_dir" value=""/>
<stringAttribute key="com.opentv.ide.sdk.debugger.corelocal.vstbarg" value="-i type=tcp;address=127.0.0.1;port=1234 -a"/>
<stringAttribute key="com.opentv.ide.sdk.debugger.corelocal.vstbexe" value="C:\OpenTV\SDKSuiteC2.2\VSTB\bin\vstb.exe"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.DEBUG_NAME" value="C:/OpenTV/SDKSuiteC2.2/SDK\bin\gdbo.exe"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.GDB_INIT" value=".gdbinit"/>
<stringAttribute key="org.eclipse.cdt.debug.mi.core.protocol" value="mi"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.opentv.ide.sdk.debugger.core.FM_LocalDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="release/HelloWorldFlow.flw"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="HelloWorldFlow"/>
<stringAttribute key="org.eclipse.cdt.launch.WORKING_DIRECTORY" value="${workspace_loc:/HelloWorldFlow/release}"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HelloWorldFlow/release/HelloWorldFlow.flw"/>
<listEntry value="/HelloWorldFlow"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.ui.build_before_launch" value="true"/>
</launchConfiguration>
